<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteTitle}}</title>

    {{>styles}}
    <style>
        body {
    overflow-x: hidden ;
    width: 100%
}
    </style>
</head>
<body>
    {{>nav}}
    {{>banner}}
    {{>banner2}}
    {{>banner3}}
    {{>footer}}
    

    {{>scriptList}}
</body>
</html>