<div class="banner">

    <div class="bannerTitle" class = 'titular'>About Naylor Antiques</div>
    <img width = "80%" style = "display: block; margin-left: auto; margin-right:auto" src="./assets/images/skyfields.jpg" alt="Skyfield then and now">

    <div class="dualImgContainer">

        {{!-- <img src="" alt="">
        <img src="" alt=""> --}}
        <p>
            Naylor Antiques Ltd. was established in 1992 by Tim and Libby Naylor.  Tim graduated from Middlebury with a B.A. in Pre-Architecture.  In 1991 he received his MFA from the Maryland Institute College of Art, graduating from the Rinehart School of Sculpture, receiving both The Rinehart Award and The Amalie Rothschild Award.  He is also a 1998 graduate of The Appraisal Studies Institute at George Washington University, in conjunction with the American Society of Appraisers.
        </p>
        <p>
            Libby received her B.A. in Art History from Middlebury College in Middlebury, Vermont.  After working as a retirement account specialist at T. Rowe Price for several years, Libby worked for Opfer Auctioneering and then the Maryland Historical Society before starting Naylor Antiques.
        </p>
        <p>
            Tim and Libby live in a 120 year old family home that serves as the consummate setting for their passionately composed collection of historic, mostly Maryland decorative arts.
        </p>




    </div>

