<div class="banner">

    <div class="bannerTitle" class = 'titular' style = 'color: rgba(33, 61, 31, 1); '>FMV Appraisals</div>
    <div class="dualImgContainer">
        <p>
            A Fair Market Value appraisal is for estate, donation, or
equitable distribution purposes typically. FMV should not be used for insurance purposes. The value of an
item may be based on three factors: the cost of reproducing it, the potential income of an item, and the
market costs of like items. This appraisal’s value is determined by using the market comparison
approach to valuation. Fair Market Value reflects the price at which a property would change hands
between a willing buyer and a willing seller, neither being under any compulsion to buy or sell, and both
having reasonable knowledge of relevant facts.
        </p>

        
    </div>

</div>

    {{!-- // "start": "nodemon ./src/server.js -e hbs,css,html,js", --}}
