<div class="banner">

    <div class="bannerTitle" class = 'titular' style = 'color: rgba(33, 61, 31, 1); '>Appraisal Overview</div>
    <div class="dualImgContainer">
        <img src="./assets/images/green_chair.jpg" alt="painting of grapes">
        <p>
            A typical appraisal would involve an initial site visit where we inspect, document, and take a digital image of each subject property.  We then return to the office where the actual document is composed.  Items are researched, comparables considered, and values assigned.  The use of comparables is inherent to the process of evaluating even the lowest valued item.  Generally, we include a cross sample of comparables published in the appraisal itself, especially for rarer and/or higher value items.  A hard copy will be provided along with a digital PDF of the final document as well as a spreadsheet of the total total inventory along with FMV or RVC amounts.
            <br> <br>
           There are essentially two types of personal property appraisals, <br>  <em>Fair Market Value (FMV) </em> and <em> Replacement Value-Comparables (RVC) </em> explained in further detail below. 
           <br> <br>

        </p>


        
    </div>

</div>