<div class="banner">

    <div class="bannerTitle" class = 'titular' style = 'color: rgba(33, 61, 31, 1); '>Clients</div>
    <div class="dualImgContainer">
        <img src="./assets/images/brass_handle_closeup.jpg" alt="painting of grapes">
        <p>
           Naylor Antiques has conducted appraisals for numerous individuals, art museums, historic house museums, businesses, and government agencies.  Some of our past institutional clients include The Maryland Historical Society, the Baltimore Museum of Art, Homewood Museum, the Star Spangled Banner Flag House, Hammond-Harwood House, First & Franklin Presbyterian Church (Baltimore), the Howard County Historical Society, Morgan State University, Towson University, the University of Maryland at College Park, the Talbot Historical Society, Saint Mary’s Seminary and University, Catholic University, Historic Waverly Mansion, Hampton National Historic Site, and the Maryland State Archives.  Complete inventory appraisals have been completed for Mount Clare Museum House, the Mother Seton House, and the Archdiocese of Maryland.


        </p>


        
    </div>

</div>