<div class="banner">

    <div class="bannerTitle" class = 'titular' style = 'color: rgba(33, 61, 31, 1); '>RVC Appraisals</div>
    <div class="dualImgContainer">

        <p>
            A Replacement Value-Comparable estimate is for insurance
purposes typically. An RVC estimate reflects the cost of replacing a property with another of similar age,
quality, origin, appearance, and condition within a reasonable length of time in an appropriate and
relevant market. The value of an item may be based on three factors: the cost of reproducing it, the
potential income of an item, and the market costs of like items. This value is determined by using the
market comparison approach to valuation. In some cases the most relevant market might be the retail
level while in others, especially in the case of a rare and/or especially high quality item, the primary
auction market is where an item might be most readily replaced. RVC appraisals should not be used
for estate or other tax purposes.
        </p>

        
    </div>

</div>