<div class="banner">

    <div class="bannerTitle" class = 'titular'>Consultation &amp; Sales</div>
    <div class="dualImgContainer">

        {{!-- <img src="" alt="">
        <img src="" alt=""> --}}
        <img src="./assets/images/grapepaintingcloseup.jpg" alt="painting of grapes">
        <p>
            Research is our passion.
            <br>
            We love the challenge.
            <br>
            Finding the <em>perfect</em> piece.
            
        </p>
               <a style = "text-decoration:none;"href="/consultation_and_sales"> <button>consultation &amp; sales &rarr; </button> </a>
        
    </div>

</div>