<div class="banner">

    <div class="bannerTitle" class = 'titular'>Period American Furniture  &amp; Decorative Arts</div>
    <div class="dualImgContainer">

        {{!-- <img src="" alt="">
        <img src="" alt=""> --}}
        <img src="./assets/images/chair.jpg" alt="chair">
        <p>
            30 years of Experience <br>
            Mid-Atlantic Specialists
        </p>
       <a style = 'text-decoration: none;'href="/about"><button>about us  &rarr; 
            </button>
        </a>
    </div>

</div>