<div class="banner">

    <div class="bannerTitle" class = 'titular' style = 'color: rgba(33, 61, 31, 1); '>Sales</div>
    <div class="dualImgContainer">
        <img src="./assets/images/herzog.jpg" alt="painting of grapes">
        <p>
            We do have a limited inventory for sale and while we welcome your visit to peruse, we are also more than happy to email you images of any possibilities that we feel might suit your needs.  Please contact us at 410-484-0133 or info@naylorantiques.com.
        </p>

        
    </div>

</div>