<div class="banner">

    <div class="bannerTitle" class = 'titular' style = 'color: rgba(33, 61, 31, 1); '>Consultation</div>
    <div class="dualImgContainer">
        <img src="./assets/images/painted_chair.jpg" alt="painting of grapes">
        <p>
             Research is our passion.  As appraisers, it is what we do all day, everyday.  We love the challenge.  Finding that perfect piece, authenticating it, evaluating it, advising in the purchase process, and facilitating shipping are just some of the aspects we can help with.  Likewise, we are here to guide you in the dispersal of entire collections or the marketing of individual pieces.  We will determine the best, most efficient method of selling your item or collection, be it auction, private treaty, or philanthropic donation.  Please contact us to discuss. 
        </p>

        
    </div>

</div>