<div class="banner">

    <div class="bannerTitle" class = 'titular' style = 'color: rgba(33, 61, 31, 1); '>The Modern Market</div>

   
    <div class="dualImgContainer">

         <img src="./assets/images/chair_back1.jpg" alt="painting of grapes">

        <p>
            Along with the demise of the traditional shop, the aroma of bees wax and the mellifluous tick-tock of the corner clock included, the antiques market has changed precipitously.  If timing is everything, the “Crash of 2008” seemed to have precipitated a lot of those changes, all inevitable and most for the better.<br><br>

Demographics, taste, and even the latest reminders of un-met social truths have had a lot to do with the measurable decrease in demand for antiques.  They do say that for Millennials, it’s all about the experience, not the object.  The upside of this, of course, is that some of those coveted pieces, previously only admired at shows and auction previews, are now going for a fraction of the prices realized in the ‘80s, 90’s, and early 2000s. <br> <br> 

The Internet has been the most influential factor of all.  While it has certainly sounded the death knell for the corner antique shop, it has more importantly evened out the playing field for all concerned.  If knowledge has always been king, it is now universally available for the taking.  Academic research, history of ownership, retail or auction availability, and comparable pricing are just some of the aspects previously available only to those professionals and/or academics with the time and inclination. <br> <br>

Like all traditional retailers, antique dealers have realized their very survival is reliant on the internet.  Individuals have created on-line shops and antique shows, the few that survive, are becoming virtual.  Even larger group shops, purveyors of generally lesser priced, “designer quality”, and vintage antiques, are on borrowed time.  As long as an item’s shipping cost doesn’t supersede its’ value, there’s little reason to spend hours procuring the perfect find when you can have it delivered to your front door. <br> <br>

Auction houses accepting bids via the internet is now the primary transaction platform through which most quality antiques are sold, to dealers as well as retail collectors.  Indeed, the division between dealer price and collector price is becoming indiscernible.  Auction houses now charge a buyer’s premium of 25% on top of the hammer price achieved in the actual bidding.  Some even charge an additional “overhead premium” of 1%.  Essentially, these premiums have usurped the traditional profit of the old fashioned antique dealer.  More and more frequently, I am seeing “albatross” dealer inventory ending up at auctions.  As an auction lot, an item often sells for considerably less than its’ original retail asking price, but in more than a few instances, for more than the dealer was asking! <br> <br>

Simply put, if you are a passionate collector, with even a modicum of willingness to become acquainted and informed, this brave new antiques world is your oyster. 
        </p>

        
    </div>

</div>