<div class="banner">

    <div class="bannerTitle" class = 'titular'> A Maryland
Chippendale Piecrust
Tea Table, by Process
of Elimination </div>
    <div class="dualImgContainer">

        {{!-- <img src="" alt="">
        <img src="" alt=""> --}}
        <img src="./assets/images/teatable1.jpg" alt="chair">
        <p>
            “Perhaps no single piece of American
cabinetware of the Georgian period is
so universally admired, so eagerly
sought after by collectors . . . "
        </p>
       <a style = 'text-decoration: none;'href="/about"><button>about us  &rarr; 
            </button>
        </a>
    </div>

</div>