<div class="banner">

    <div class="bannerTitle" class = 'titular'>Retail Purchase and Sale</div>
    <div class="dualImgContainer">

        {{!-- <img src="" alt="">
        <img src="" alt=""> --}}
        <img src="./assets/images/grapepaintingcloseup.jpg" alt="painting of grapes">
        <p>
            Naylor Antiques stands behind the authenticity and condition of all its pieces.
            
        </p>
               <button>store &rarr; </button>
        
    </div>

</div>