<div class="banner">

    <div class="bannerTitle" class = 'titular'>Appraisals</div>
    <div class="dualImgContainer">

        {{!-- <img src="" alt="">
        <img src="" alt=""> --}}
        <img src="./assets/images/cardTable.jpg" alt="card table">

        <p>
            We work with a variety of clients including: <br> individuals, estates, collections, museums, and other organizations. 
        </p>
       <a style = 'text-decoration: none;' href="/services"><button>services &rarr; </button></a>
        
    </div>

</div>